@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.chat-container {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}

.chat-container::-webkit-scrollbar {
  width: 4px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 4px;
}
